.venv
virtualenv
todo.txt
.DS_Store
mediapipe_experiments/experiment_.ipynb
mediapipe_experiments/mediapipe_face_body_info.py
mediapipe_experiments/.ipynb_checkpoints/experiment_-checkpoint.ipynb
mediapipe_experiments/.ipynb_checkpoints/experiment_-checkpoint.ipynb
test.py
mediapipe_experiments/face_lm_audio.py
